<!DOCTYPE html>
<html lang="pt-br">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Gestão{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'core/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>Sistema de Gestão</h1>
    </header>
    <main>
        {% block content %}
        <!-- Conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Sistema de Gestão. Todos os direitos reservados.</p>
    </footer>